.side_bar
  .side_header
    tanaka
    %ul.account_icon
      =link_to '#' do
        = icon('fas', 'edit')

      =link_to '#' do
        = icon("fas", "cog")
  .side_group
    .group_name
      groupname1
      .side_messages
      まだメッセージはありません
    .side_group2
      groupname2
      .side_messages2
      まだメッセージはありません