!!!
%html
  %head
    / Place your kit's code here
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/05bd574396.js"}
  %body


.wrapper
  = render partial: "main_chat", locals: { main_chat: @main_chat }
  = render partial: "side_bar", locals: { side_bar: @side_bar }