.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        tanaka
      .side-header__box__menu
        .side-header__box__menu__new-group
          =link_to '#', class: "icons_new" do
            = icon('fas', 'edit')
        .side-header__box__menu__edit-user
          =link_to '#', class: "icons_edit" do
            = icon("fas", "cog")
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to '#' do
          .group__group-name
            = group.name
          .group__latest-message
            メッセージはまだありません。